<div class="card mx-auto" style="width: 18rem;">
  <div class="card-body">
    <input style="vertical-align: middle;" type="checkbox" name="done" {{#if todo.done }} checked{{/if}} />
    <h5 class="card-title">{{{todo.name}}}</h5>
    <p class="card-text">{{{todo.detail}}}</p>
  </div>
</div>